<div id='copy'>
	<div id='tag_line'>
		<h2>Unlock 
		the Mystery</h2>
	</div>
	<div id='description'>
		<h3>For $20 a month receive a surprise assortment of delights meant to spice up your life...</h3>
	</div>
	<div id='sign_up'>
		<%= link_to 'Learn More', '/signup'%>
	</div>
	<div id= 'gift_card'>
		<p>Or Click here to give the gift of mystery this holiday season</p>
	</div>
</div>
<div id ='image'>
	<%= image_tag("stockphoto.jpg", :alt => "Sample App", :class => "round") %>
</div>
